@{
    Layout = "Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Blogs";
}
<div class="jumbotron">
    <h1>BlogiFire.Net</h1>
    <p class="lead">Sample Blog.</p>
</div>

<div class="row">
    <div class="col-md-12">

        <h2>Post One</h2>
        <div>The post one</div>

        <h2>Post Two</h2>
        <div>The post two</div>

    </div>
</div>
