<div class="header">
    <ul class="nav-custom container">
        <li class="item"><a href="#/">Dashboard</a></li>
        <li class="item"><a href="#/posts">Posts</a></li>
        <li class="item active"><a href="#/comments">Comments</a></li>
        <li class="item"><a href="#/settings">Settings</a></li>
        <li class="item item-right item-signout"><a href="/">SignOut</a></li>
        <li class="item item-right"><a href="/blog">Blog</a></li>
    </ul>
</div>
<div class="actions container">
    <button class="btn btn-danger" ng-click="vm.processChecked('delete')" ng-disabled="vm.isChecked() === false"> <i class="fa fa-times"></i> Delete</button>
    <button class="btn btn-success" ng-click="vm.processChecked('publish')" ng-disabled="vm.isChecked() === false"><i class="fa fa-check"></i> Approve</button>
    <button class="btn btn-warning" ng-click="vm.processChecked('archive')" ng-disabled="vm.isChecked() === false"><i class="fa fa-minus"></i> Archive</button>
</div>
<div class="content container">
    <table class="table table-custom">
        <tr>
            <th class="table-checkbox"><input type="checkbox" id="chkAll" data-ng-click="vm.checkAll()" /></th>
            <th class="table-title">Comment</th>
            <th class="table-comments">Author</th>
            <th class="table-date">Publish Date</th>
            <th class="table-status">Status</th>
        </tr>
        <tr ng-repeat="item in vm.pager.itemsToShow">
            <td class="table-checkbox"><input type="checkbox" ng-model="item.IsSelected" /></td>
            <td class="table-title">{{item.Content}}</td>
            <td>{{item.Author}}</td>
            <td>{{item.Published  | date:'d MMM yyyy'}}</td>
            <td><i ng-class="item.IsApproved ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></i></td>
        </tr>
        <tr>
            <td colspan="5" ng-if="vm.pager.currentPage + 1 < vm.pager.pagedItems.length" ng-click="vm.showMore()" class="btn-showmore">Show More <i class="fa fa-spin fa-spinner" style="display:none;"></i></td>
        </tr>
    </table>
</div>